.product-list__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .products-list__msg {
    display: block;
    width: 100%;
    text-align: center;
    color: gray;
    padding: 20px 0;
  }



/* preloader */
.lds-dual-ring {
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    align-self: center;
    justify-self: center;
    transition: opacity .2s linear, height .3s linear;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(0, 85, 255);
    border-color: rgb(0, 85, 255) transparent rgb(0, 85, 255) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .preloader-hidden {
    opacity: 0;
    height: 0;
  }




