/* Шапка */
.header{
    background-color: white;
    margin-bottom: 20px;
  }

.header__container {
  display: flex;
  justify-content: space-between;
}
  
  /* Навигация */
  .header__navigation{
    display: flex;

  }

  .header__logo{
    align-self: center;
  }